// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Nunito fonts
@font-face {
    font-family: "Nunito";
    src: url('/fonts/Nunito/Nunito-Regular.ttf');
}

@font-face {
    font-family: "NunitoBold";
    src: url('/fonts/Nunito/Nunito-Bold.ttf');
}

body {
    font-family: Nunito, sans-serif;
}

.nunito-bold {
    font-family: NunitoBold, sans-serif;
}
