// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Nunito fonts
@font-face {
    font-family: "Nunito";
    src: url('/fonts/Nunito/Nunito-Regular.ttf');
}

@font-face {
    font-family: "NunitoBold";
    src: url('/fonts/Nunito/Nunito-Bold.ttf');
}

body {
    font-family: Nunito, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
}

.nunito-bold, b {
    font-family: NunitoBold, sans-serif !important;
}

a:not(.btn) {
    color: #D4C697;
    text-decoration: underline;
}

.hline {
    height: 1px;
    background-color: #e2e2e2;
    width: 90%;
    margin-left: 5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    position: relative;
}
