.modal-dialog {
  width: 80%;
  height: 40%;
}

.personalInfo {
  padding: 0 1rem;
  background: #F8F7F7;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  width: 10rem;
  height: 2rem;
}

.ippopup-modal-content {
  background-image: url(/svg/fondo-curvo.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.navbar {
  width: 80%;
  overflow: auto;
}

